<div mat-dialog-title>
	<mat-icon style="float:right; font-size: 30px;">restaurant_menu</mat-icon>
	<h4 style="margin: 0px;">Opções de Preparação de {{nomeProduto}}</h4>
</div>
<form name="form" (ngSubmit)="f.form.valid && confirm()" #f="ngForm" novalidate>
	<div mat-dialog-content>
		<div *ngFor="let g of grupoCaracteristicaProdutoDTOList">
			<h4>{{g.pergunta}}</h4>
			<div *ngIf="g.tipo == 'SM'">
				<mat-checkbox *ngFor="let c of g.caracteristicaProdutoDTOList" style="padding-right: 20px;" (change)="checkbox($event, c)" [value]="c">
					{{c.nome}}
				</mat-checkbox>
			</div>
			<div *ngIf="g.tipo == 'SU'">
				<mat-radio-group (change)="radiobutton($event, g)">
				  <mat-radio-button *ngFor="let c of g.caracteristicaProdutoDTOList" style="padding-right: 20px;" [value]="c">
				    {{c.nome}}
				  </mat-radio-button>
				</mat-radio-group>
			</div>
		</div>
	</div>
	<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
	  <button mat-button color="primary" (click)="close()">Cancelar</button>
	  <button mat-button color="primary" type="submit">Confirmar</button>
	</div>
</form>