<ion-header>
    <ion-navbar>
    </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Nome"></ion-searchbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let p of prepareList" (swipe)="swipeEvent($event, p)">
            <button style="z-index:10;" [@visibleState]="p.estadoExibicao" ion-item (click)="itemTapped($event, p)">
        		<div [@visibleWaitConfirmState]="p.estadoExibicao" style="text-align:center; z-index:20;position:absolute;width: 100%;height: 100%;background: white;">
                	<div style="width: 100%; font-size: larger;"><h2>Desfazer</h2><ion-icon name="undo"></ion-icon></div>
        		</div>
                <ion-thumbnail item-start>
                    <img src="{{p.imagem}}">
                </ion-thumbnail>
                <h2>{{p.nome}}<span *ngIf="p.caracteristicaProdutoDTOResume != ''"> ({{p.caracteristicaProdutoDTOResume}})</span></h2>
                <h3>Usuário: {{p.usuarioRequisicao}}</h3>
                <h3>Urgência: {{p.urgencia.nome}}</h3>
                <div item-end><p>{{formatLocalDate(p.datahora)}}</p><p>{{formatLocalTime(p.datahora)}}</p></div>
            </button>
            <ion-item-options side="left">
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer>