<div fxFlexFill>
	<mat-tab-group fxFlexFill>
	  <mat-tab label="Acesso Rápido" fxFlexFill>
		<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
			<div fxFlex="50" style="text-align: center;border-right: 1px solid rgba(0,0,0,.12);" fxFlexFill>
				<h3 style="margin-bottom: 0px;">Preparação</h3>
				<div fxLayoutAlign="start start" fxLayoutWrap>
					<mat-card style="margin:20px" *ngFor="let p of preferencesPrepareList">{{p.nome}}</mat-card>
				</div>
			</div>
			<div fxFlex="50" style="text-align: center;border-left: 0px solid rgba(0,0,0,.12); margin-left: -1px;" fxFlexFill>
				<h3 style="margin-bottom: 0px;">Últimas Reservas</h3>
				<div fxLayoutAlign="start start" fxLayoutWrap>
					<mat-card style="margin:20px; padding:10px; cursor: pointer;" (click)="preferencesRequestOnClick($event)" *ngFor="let r of preferencesRequestList">
						<mat-card-header><mat-card-subtitle>{{r.datahora}}</mat-card-subtitle></mat-card-header>
    					<mat-card-content>
							<mat-list>
								<mat-list-item style="height: 0%;" *ngFor="let p of r.products">{{p.nome}}</mat-list-item>
							</mat-list>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
		</div>
	  </mat-tab>
	  <mat-tab label="Preparação" fxFlexFill>
		<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
			<div fxFlex="30">
				<form fxFlexFill> 
				  <span>Escolha o produto desejado: </span>
				  <mat-form-field>
					<input matInput placeholder="Produto" aria-label="Produto" [matAutocomplete]="autoPrepare" [formControl]="productPrepareInputFormControl" />
					<mat-autocomplete #autoPrepare="matAutocomplete" (optionSelected)="productPrepareOnSelect($event)" 
						[displayWith]="productWithDisplay">
					  <mat-option *ngFor="let p of filteredProductPrepareList | async" [value]="p">
						<span>{{ p.nome }}</span>
					  </mat-option>
					</mat-autocomplete>
				  </mat-form-field>	
				  <div>
					  <button style="float:left; margin-left:30px;" color="primary" mat-raised-button *ngIf="isPrepararButtonVisible()" (click)="clearPreparar()">Limpar</button>	  
					  <button style="float:right; margin-right:30px;" color="primary" mat-raised-button *ngIf="isPrepararButtonVisible()" (click)="preparar()">Preparar</button>
				  </div>
				</form>
			</div>
			<div fxFlex="40" style="padding:10px">
				<form fxFlexFill> 
					<mat-card>
						<mat-card-title>
							<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
								<div fxFlex="90">Cozinha</div>
								<div fxFlex="10"><mat-icon>restaurant_menu</mat-icon></div>							
							</div>
						</mat-card-title>
						<mat-card-content>
							<mat-list>
							  <mat-list-item *ngFor="let sp of selectedProductPrepareList">							  
								<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
									<div fxFlex="90">{{sp.produto.nome}}</div>
									<div fxFlex="10">
										<mat-form-field style="width:100%">
											<input matInput type="number" name="inputQuantitySelectedProductPrepare_{{sp.produto.id}}" value="{{sp.quantidade}}" (change)="inputQuantitySelectedProductPrepareOnChange($event)">
										</mat-form-field>
									</div>							
								</div>
							  </mat-list-item>
							</mat-list>
						</mat-card-content>
					</mat-card>
				</form>
			</div>
		</div>
	  </mat-tab>
	  <mat-tab label="Reservas" fxFlexFill>
		<div fxLayout="row" fxLayoutAlign="center start" fxFlexFill>
			<div fxFlex="30">
				<form fxFlexFill> 
				  <span>Escolha o produto desejado: </span>
				  <mat-form-field>
					<input matInput placeholder="Produto" aria-label="Produto" [matAutocomplete]="autoRequest" [formControl]="productRequestInputFormControl" />
					<mat-autocomplete #autoRequest="matAutocomplete" (optionSelected)="productRequestOnSelect($event)" 
						[displayWith]="productWithDisplay">
					  <mat-option *ngFor="let p of filteredProductRequestList | async" [value]="p">
						<span>{{ p.nome }}</span>
					  </mat-option>
					</mat-autocomplete>
				  </mat-form-field>
				  <div>
				  	  <button style="float:left; margin-left:30px;" color="primary" mat-raised-button *ngIf="isReservarButtonVisible()" (click)="clearReservar()">Limpar</button>	  
					  <button style="float:right; margin-right:30px;" color="primary" mat-raised-button *ngIf="isReservarButtonVisible()" (click)="reservar()">Reservar</button>	  
				  </div>	
				</form>
			</div>
			<div fxFlex="40" style="padding:10px">
				<form fxFlexFill> 
					<mat-card>
						<mat-card-title>
							<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
								<div fxFlex="90">Carrinho</div>
								<div fxFlex="10"><mat-icon>add_shopping_cart</mat-icon></div>							
							</div>
						</mat-card-title>
						<mat-card-content>
							<mat-list>
							  <mat-list-item *ngFor="let sp of selectedProductRequestList">							  
								<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
									<div fxFlex="90">{{sp.produto.nome}}</div>
									<div fxFlex="10">
										<mat-form-field style="width:100%">
											<input matInput type="number" name="inputQuantitySelectedProductRequest_{{sp.produto.id}}" value="{{sp.quantidade}}" (change)="inputQuantitySelectedProductRequestOnChange($event)">
										</mat-form-field>
									</div>							
								</div>
							  </mat-list-item>
							</mat-list>
						</mat-card-content>
					</mat-card>
				</form>
			</div>
		</div>
	  </mat-tab>
	</mat-tab-group>
</div>