<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
	<mat-card fxFlex="50">
		<mat-card-title>Login</mat-card-title>
		<mat-card-content>
			<form>
				<div fxLayout="column" fxLayoutAlign="center">
				  <mat-form-field>
				    <input matInput placeholder="Usuário">
				  </mat-form-field>
				  <mat-form-field>
				    <input matInput type="password" placeholder="Senha">
				  </mat-form-field>
				  <div fxFlex>
					<button style="float:left" mat-raised-button [routerLink]="['/register']">Registrar</button>
					<button style="float:right" mat-raised-button (click)="login()">Entrar</button>
				  </div>
				</div>
			</form>
	  	</mat-card-content>
	</mat-card>
</div>